/bin/
/obj/
/x64/
/Debug/
/Release/
/Course-Registration-System/x64
/Course-Registration-System/Course-Registration-System.vcxproj
/Course-Registration-System/Course-Registration-System.vcxproj.filters
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
*.log
*.tmp
*.exe
*.dll
*.pdb